<ion-view view-title="<img src='img/head_logo.png' class='head_logo'/>About us">
  <ion-content class="about_page padding">
    <div class="gray_bg">
          <p>
          <span class="main_color">NOW </span> 
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
          <p>
           <b>quis</b> nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate ion-vieww-titleit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
          <p>
           Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
    </div>
  </ion-content>
</ion-view>
