<ion-view view-title="<img src='img/head_logo.png' class='head_logo'/>Contact us">
  <ion-content class="padding contact_page">
     <div class="gray_bg">
          <p class="contact_note">
          <span class="main_color">CONTACT US </span> 
          If you have any questions, or require any additional information, please contact any of our personnel
          listed below. They will be happy to assist you.
          </p>

          <p class="contact_info"><i class="ion-ios-telephone-outline animated bounce"></i>Tel :<span class="sec_color">+18002332742</span></p>
          <p class="contact_info"><i class="ion-ios-email-outline animated bounce"></i>E-mail :<span class="sec_color">JohnH@Gartner-Refrig.com</span></p>
        
              <div class="social_icon">
                  <span class="cir animated bounce"><i class="ion-social-facebook"></i></span>
                  <span class="cir animated bounce"><i class="ion-social-twitter"></i></span>
                  <span class="cir animated bounce"><i class="ion-social-googleplus"></i></span>
              </div>
     </div>
  </ion-content>
</ion-view>
