<ion-view view-title="<img src='img/head_logo.png' class='head_logo'/>Details">
  <ion-content class="detail_page">
        <div class="list_item animated slideInRight" style="background:url({{detail_img}})no-repeat; background-size:cover">
            <div class="det_head">
                <h3>American Airlines: Submarine searches for missing flight data recorders</h3>
                <p><span class="main_color"><i class="ion-clock"></i>3 mins ago</span>|<span class="sec_color">Political</span></p>
            </div>
        </div>
        <div class="padding">
            <div class="row share_post main_bg_color">
                <div class="col col-50">
                   <p>Share this news</p> 
                </div>
                <div class="col col-10 face">
                   <span><i class="ion-social-facebook"></i></span>
                </div>
                <div class="col col-10 twitter">
                   <span><i class="ion-social-twitter"></i></span>
                </div>
                <div class="col col-10 dribbble">
                   <span><i class="ion-social-dribbble-outline"></i></span>
                </div>
                <div class="col col-10 vimeo">
                   <span><i class="ion-social-vimeo"></i></span>
                </div>
                  <div class="col col-10 google">
                   <span><i class="ion-social-googleplus"></i></span>
                </div>
            </div>
            <div class="big_small">
                    <span class="zoom_btn"><i class="ion-plus"></i></span>
                    <span class="letter"><img src="img/a.png" /></span>
                    <span class="zoom_btn"><i class="ion-minus"></i></span>
            </div>

            <div class="det_parag">
              <p>
                Charles Koch has insisted his conservative network won't wade into the presidential
                race to help Republican Donald Trump, but a new ad from Koch's main
                political group invokes Democrat Hillary Clinton to attack one of her party's contenders for the Senate.
              </p>
              <p>
                The commercial, part of a $1 million ad buy in Ohio, marks the first time the Koch group 
                has used Clinton's name in their advertising and foreshadows a strategy
                Republicans hope to use in the months ahead to undermine Clinton and other Democrats with working-class white men.
              </p>    
            </div>
            
            <div class="comments_div">
              <h3>20 comments</h3>
            
                <div class="row main_comment">
                    <div class="col col-20">
                       <img src="img/def.png">
                    </div>
                    <div class="col">
                        <h3 class="sec_color">Bruce Wayne</h3>
                        <p>Check out Wayne White: An Embarrassment Of Talents on </p>
                        <div class="like_reply main_color">
                            <span>2 days ago</span>
                            <span>Reply</span>
                            <span>Like</span>
                            <span class="likes" ng-click="likeComment(1)" ng-class="{'color_like animated zoomIn':active_like1}">3
                                <i class="ion-ios-heart-outline"></i></span>
                        </div>
                    </div>
                </div>
                
                <div class="row reply_comment">
                  <div class="col col-20">
                       <img src="img/def.png">
                    </div>
                    <div class="col">
                        <h3  class="sec_color">Steef Stiban</h3>
                        <p>You can follow the lose favorite</p>
                        <div class="like_reply main_color">
                            <span>2 days ago</span>
                            <span>Reply</span>
                            <span>Like</span>
                            <span class="likes" ng-click="likeComment(2)" ng-class="{'color_like animated zoomIn':active_like2}">3
                                <i class="ion-ios-heart-outline"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
