<ion-view view-title="<img src='img/head_logo.png' class='head_logo'/>LATEST NEWS">
  <ion-content class="main_page">

  <ion-slide-box class="img_slider" does-continue="true" auto-play="true">
        <ion-slide ng-repeat="image in images track by $index" style="background:url({{image}})no-repeat" >
                <div class="det_head">
                    <h3>American Airlines: Submarine searches for missing flight data recorders</h3>
                    <p><span class="main_color"><i class="ion-clock"></i>3 mins ago</span>|<span class="sec_color">Political</span></p>
                </div>
          </ion-slide>
    </ion-slide-box>

      <div class="main_list">
        <a
           collection-repeat="item in data"
           collection-item-width="'50%'"
           collection-item-height="180"
           ng-style="{'height':'180px','width':'50%'}">


           <div class="list_item animated slideInLeft"
           style="background:url({{item.image}})no-repeat; background-size:cover" ng-click="goNext(item.link, item.source)">
                <div class="det_head">
                    <h3>{{item.title}}</h3>
                    <p><span class="main_color">{{item.time}}</span>|<span class="sec_color">{{item.source}}</span></p>
                </div>
           </div>
        </a>
      </div>
  </ion-content>

</ion-view>
